alabaster==0.7.10
Babel==2.4.0
cycler==0.10.0
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
imagesize==0.7.1
Jinja2==2.9.6
llvmlite==0.19.0
MarkupSafe==1.0
matplotlib==2.0.2
numba==0.34
numpy==1.13.1
pandas==0.20.3
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.14.2
scipy==0.19.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
subprocess32==3.2.7
typing==3.6.2
